.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 80px;
    margin: 70px 150px;
}
.about-left img{
    width: 430px;
    height: 440px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-sections{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction:column;
    gap: 80px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
   
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    padding-bottom: 100px;
    
  }

  .card {
    background-image: linear-gradient(45deg,#303030,#4d4b4b);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 10px;
    margin-top: 30px;
  }

  .card h2 {
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  .skills li {
    background-color: #000000;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
  }
  
  .about-achievements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .about-achievement {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s;
  }
  
  .about-achievement:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
  }
  
  .about-achievement p {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        
        
        
    }
    .container {
     
      display: grid;
      grid-template-columns: 1fr;
      

    }
    .card{
      margin-top: 70px;
      
      
    }

    .about-title img {
        width: 180px;
        margin-right: 0;
    }

    .about-title h1 {
        padding: 0;
        font-size: 50px;
        margin-left: 120px;
    }

    .about-sections {
        width: 100%;
        margin-left: 0;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        
        width:450px;
    }

    

    .about-achievements {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 400;
        align-items: center;

    }

    .about-achievement {
        width: 100%;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s, box-shadow 0.5s;
        margin-left: 100px;
    }

    .about-achievement:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .about-achievement h1 {
        font-size: 36px;
        font-weight: 700;
        background: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
    }

    .about-achievement p {
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
    }
}
